body {
    background-color: indigo;
}

.geral {
    background-color: honeydew;
    color: indigo;
    border: 0.5rem solid blueviolet;
    padding: 6rem;
    margin: 4rem;
}
header {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 20%;
    height: 20%;
    
}

p {
    padding: 0.5rem;
}
